
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(0, 19, 24);
  padding: 0.9rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgb(255, 255, 255,0.6);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgb(255, 255, 255,0.8);

  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navLinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin: 0 1rem;
}

.navLinks a {
  color: rgb(0, 3, 22);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #024199;
}

@media (max-width: 768px) {
  .menuIcon {
    display: block;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 56px;
    left: 0;
    background-color: rgb(255, 255, 255,0.85);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    &:hover {
    background-color: rgb(255, 255, 255,0.99);

  }
  }

  .navLinks.showMenu {
    display: flex;
  }

  .navLinks li {
    text-align: center;
    margin: 1rem 0;
  }
}
