
.searchContainer {
  align-items: center;
  backdrop-filter: blur(30px);
  color: white;
  padding: 10px;
  border-radius: 15px;
  width: 80%;
  max-width: 800px;
  margin: auto;
}



.searchBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  flex: 1;
  min-width: 180px;
  max-width: 220px;
}



.input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color:rgb(0, 18, 34);
  background-color: #fff;
}

.searchButton {
  padding: 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.searchButton:hover {
  background-color: #005bb5;
}
